<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title><span th:text="#{index.title}"></span></title>

    <th:block th:include="common/common :: header"></th:block>

</head>
<body>

    <div class="container padding_top margin_top">

        <a class="btn btn-primary" th:href="@{/?lang=cz}">CZ</span></a>
        <a class="btn btn-primary" th:href="@{/?lang=en}">EN</span></a>

        <form th:action="@{/users/}" method="post">

            <div class="form-group">
                <label th:text="#{index.description}"></label>
                <input id="limit" name="limit" type="number" class="form-control"/>
            </div>

            <button type="submit" class="btn btn-primary"><span th:text="#{index.sign}"></span></button>
        </form>
    </div>

    <th:block th:include="common/common :: footer"></th:block>

</body>
</html>