<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title><span th:text="#{userlist.title}"></span></title>

    <th:block th:include="common/common :: header"></th:block>

</head>
<body>


<div class="container margin_top">

    <div class="panel-heading">
        <h1 class="panel-title" th:text="#{userlist.h1}"></h1>
    </div>
    <div class="panel-body">
        <div class="table-responsive" th:if="${not #lists.isEmpty(users)}">
            <table class="table table-hover ">
                <thead class="thead-inverse">
                <tr>
                    <th th:text="#{userlist.firstName}"></th>
                    <th th:text="#{userlist.lastName}"></th>
                    <th th:text="#{userlist.gender}"></th>
                    <th th:text="#{userlist.email}"></th>
                    <th th:text="#{userlist.language}"></th>
                    <th th:text="#{userlist.phone}"></th>
                </tr>
                </thead>
                <tr th:each="user : ${users}" th:class="${user.language} eq 'en' ? 'highlight_red_color' : 'highlight_grey_color'">
                    <td th:text="${user.name.first}"></td>
                    <td th:text="${user.name.last}"></td>
                    <td th:text="${user.gender}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.language}"></td>
                    <td th:text="${user.phone}"></td>
                </tr>
            </table>
        </div>
    </div>

    <a class="btn btn-primary" th:href="@{/}"><span th:text="#{userlist.button.back}"></span></a>


    <th:block th:include="common/common :: footer"></th:block>

</div>

</body>
</html>